/* REMOVE THE BASIC BROWSER STYLING*/
*::before,
*::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #11a1e4, #bb8a1f);
  background-color: #ffffff;
  min-width: 800px;
  min-height: 100vh;
}

/* LOGO */
.logo {
  flex: 1;
  pointer-events: none;
  background: #ffb246;
}
/* Top navigation background color*/
.main-nav {
  display: flex;
}

.main-nav,
ul,
li {
  flex: 1;
  text-decoration: none;
  list-style-type: none;
}
.main-nav {
  width: 100%;
  background-color: #005493;
}

.main-nav a {
  float: left;
  color: #f3f3f3;
  text-align: left;
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 1rem;
}

/* Change the color of links on hover */
.main-nav a:hover {
  background-color: #ffb246;
  color: #369ffe;
}

/* Add an active class to highlight the current page */
.main-nav a.active {
  background-color: #1c2033;
  color: #369ffe;
}

header,
h1 {
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

footer {
  text-align: center;
  background-color: #005493;
  color: #f3f3f3;
  text-align: center;
  text-decoration: none;
  padding: 20px 24px;
  font-size: 1em;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;