/* Top navigation background color*/
.main-nav {
  width: 100%;
  background-color: #4b506a;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.main-nav a {
  float: left;
  display: block;
  color: #ffb246;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-size: large;
}

/* Float links to the right of the navavigation menu*/
.main-nav-right {
  float: right;
  font-size: large;
}

/* Change the color of links on hover */
.main-nav a:hover {
  background-color: #ffb246;
  color: #369ffe;
}

/* Add an active class to highlight the current page */
.main-nav a.active {
  background-color: #1c2033;
  color: #369ffe;
}

/* Body defaults */
body {
  font-family: Georgia, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.5em;
  display: block;
  margin: 0px;
  background-color: #e8e8e8;
  color: #5773d7;
}

h1 {
  text-align: center;
  color: #4b506a;
}

h2,
h3 {
  text-align: center;
  color: #369ffe;
}

figure {
  text-align: center;
}
a {
  text-decoration: none;
}

a:link {
  color: #ffb246;
}

.a-link {
  color: #368b85;
}

a:hover {
  color: #e25b4c;
}

figcaption {
  text-align: center;
}
.my-img {
  width: 30%;
  min-width: 100px;
  max-width: 300px;
  height: auto;
  background-color: #f1f1f1;
  margin: auto;
  border-radius: 50%;
}
.container {
  margin-bottom: 250px;
  height: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
hr {
  max-width: 80%;
}

.my-footer-content {
  padding: 5% 10% 15% 10%;
  display: block;
  position: relative;
}

/* Fixed footer to bottom of the page */
.sticky-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20%;
  background-color: #4b506a;
  text-align: center;
  color: #ffb246;
}
/* Footer nav */
.sticky-footer a {
  color: #ffb246;
  text-align: center;
  text-decoration: none;
  font-size: large;
}
/* Tables */
table {
  border-spacing: 0px;
  border: 2px solid #343434;
  border-collapse: separate;
  border-radius: 5px;
}

.my-thead {
  background-color: #0061a8;
  color: whitesmoke;
}
thead {
  display: table-header-group;
}

th,
td {
  border: 1px solid #cacaca;
  padding: 1em 3em 1em 2em;
  text-align: left;
  vertical-align: middle;
  margin: auto;
}
td {
  color: #343a40;
}

th {
  display: table-cell;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

tbody {
  border-collapse: collapse;
  vertical-align: middle;
}
.my-table {
  margin: auto;
}

.helper {
  background-color: #e8e8e8;
}
/* Form page styling */
.pricing-table {
  background-color: #e25b4c;
  color: whitesmoke;
}

.price {
  font-size: 1.7em;
  color: #2b2944;
}

.plans-fonts {
  font-size: 1.7em;
  color: #e25b4c;
  text-align: center;
}

.form-container {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 10%;
  background-color: whitesmoke;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
  color: #343434;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #cacaca;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  height: 20px;
  width: 22px;
  padding: 10px 15px 10px 15px;
}

.required-fields {
  color: red;
}

input[type="submit"] {
  width: 150px;
  height: auto;
  background-color: #343a40;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1em 0.5em 1em 0.5em;
  font-size: 1em;
  border-radius: 10px;
}
.dropdown-list {
  height: 30px;
  font-size: 1em;
  opacity: 0.7;
}

.btn:hover {
  background-color: #059862;
  color: whitesmoke;
}

/* Spacer */
.spacer {
  width: 20%;
  margin-bottom: 300px;
}

section {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* div-style  FROM JS */
#div-cintainer {
  display: inline-block;
}
.div-section-one {
  width: auto;
  height: auto;
  display: flexbox;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1em 1em 1em 1em;
  padding: 1em 2em 1em 2em;
}
.div-style {
  width: auto;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 5%;
  margin-right: 10%;
  padding: 1em 2em 1em 2em;
}
