<footer>
  <ul>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/final-project/index.html">Home</a></li>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/final-project/installation.html">Installation</a></li>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/final-project/getting_started.html">Getting Started</a></li>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/final-project/forum.html">Forum</a></li>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/final-project/subscribe.html">Subscribe</a></li>
  </ul>
  <div class="center-div">
    <p>Page built by Valentin Correa Studio</p>
  </div>
</footer>
