<footer>
  <ul>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/breand/index.html">Home</a></li>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/breand/pricing.html">Pricing</a></li>
    <li><a href="https://webpages.uncc.edu/ncorream/itis3135/breand/contact.html">Contact</a></li>
    <li><button>CSS Validation</button></li>
    <li><button>HTML Validation</button></li>
  </ul>
  <div class="center-div">
    <p>Page built by Valentin Correa Studio</p>
  </div>
</footer>
