<div class="navigation-menu">
  <nav>
    <ul class="nav-list">
      <li class="nav-item" id="logo">
        <a href="https://webpages.uncc.edu/ncorream/itis3135/brand/index.html"><img src="images/val-logo.png" alt="" /></a>
      </li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/brand/index.html">Home</a></li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/brand/pricing.html">Pricing</a></li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/brand/contact.html">Contact</a></li>
    </ul>
  </nav>
</div>
