<div class="navigation-menu">
  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="https://webpages.uncc.edu/ncorream/itis3135/project/index.html" class="logo">Pandas Tuturials</a>
        <!-- <a href="https://webpages.uncc.edu/ncorream/itis3135/brand/index.html"><img src="images/val-logo.png" alt="" /></a> -->
      </li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/project/index.html">Home</a></li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/project/installation.html">Installation</a></li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/project/getting_started.html">Getting Started</a></li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/project/forum.html">Forum</a></li>
      <li class="nav-item"><a href="https://webpages.uncc.edu/ncorream/itis3135/project/subscribe.html">Subscribe</a></li>
    </ul>
  </nav>
</div>
